   <div id="search" class="search-form">
            <p data-tab="search" class="search-wrapper">
              <a href="/search"> 
                <span class="search-icon mobile-search-icon"><img alt="Search Icon" src="image/data/search-bar-icon.png" title="Search Icon"></span>
                <label for="global-search-bar" class="search-activator">Search</label>
              </a>
            </p>
            <div data-tab="search" class="global-search-input-form hover-trigger">
              <div class="input-group">
                <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" autocomplete="off" tabindex="0"  id="global-search-bar" class="ember-text-field ember-view">
                <span class="search-icon" data-ember-action="" data-ember-action-513="513"><img alt="Search BlackL=lapel" src="image/data/search-bar-icon.png" title="Search Icon"></span>
              </div>
            </div>
         </div>