{{ header }}
<div class="append_html_filter append_pagination">
<div id="account-account" class="">
  <div class="sc-imcLir cExqpY">
    {{ column_left }}
  <div class="sc-bHKNvF folniP col-lg-10 col-md-9 col-sm-9 col-xs-12">
   <div class="sc-fweGeb kUzkwc">
      <div class="sc-ibushM dhggPq">
         <ul class="sc-heOwwK izlmnd"></ul>
      </div>
   </div>
   <div class="sc-jTWTst hYLsTD">
      <div class="sc-cHOiLE SLkmA">
         <div class="sc-hymtyp bjqBjR">
            <h3 type="primary" class="sc-dlfnbm lhekIy">Danh sách tin</h3>
         </div>
        
      </div>
   </div>
  
   <div class="sc-jhSEkC COfqa">
      <div class="sc-jLNwoM jvBuwT">


      <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="section" style="padding: 0;">
                    <div class="section-content">
                        <div class="alert alert-danger" role="alert">
                            <p><strong>Lưu ý quan trọng:</strong></p>
                            <p>- Nội dung chuyển tiền bạn vui lòng ghi đúng thông tin sau:</p><p>
                        </p><p><strong style="color: red;">"CTN - 0983492410"</strong></p>
                        <p>Trong đó <strong>0983492410</strong> là số điện thoại của bạn đăng ký trên website <strong>chothuenha.com.vn</strong>.</p>
                            <p>Xin cảm ơn!</p>
                        </div>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">VIETCOMBANK - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN NGOẠI THƯƠNG VIỆT NAM</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>0071000939534</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>CN HỒ CHÍ MINH</td></tr></tbody></table>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">BIDV - NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN VIỆT NAM</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>31010001745233</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>CN HỒ CHÍ MINH</td></tr></tbody></table>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">ACB - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN Á CHÂU</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>177563039</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>PGD TRƯƠNG ĐỊNH</td></tr></tbody></table>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">VIETINBANK - NGÂN HÀNG TMCP CÔNG THƯƠNG VIỆT NAM</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>102868874881</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>CN THỦ THIÊM</td></tr></tbody></table>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">AGRIBANK - NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN VIỆT NAM</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>6280205595686</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>CN ĐÔNG SÀI GÒN</td></tr></tbody></table>
                    </div>
                </section>
                <section class="section box-shadow border-radius section-table-bank">
                    <div class="section-content">
                        <table class="table table-bordered"><tbody><tr><td colspan="2"><strong style="color: #d93c23;">TECHCOMBANK - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN KỸ THƯƠNG VIỆT NAM</strong></td></tr> <tr><td class="nowrap">Chủ tài khoản</td> <td>NGUYEN VAN A</td></tr> <tr><td class="nowrap">Số tài khoản</td> <td>0123456789</td></tr> <tr><td class="nowrap">Chi nhánh</td> <td>CN GIA ĐỊNH</td></tr></tbody></table>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <section class="section box-shadow border-radius js-payment-summary-sticky" data-margin-top="100" data-margin-bottom="50">
                    <div class="section-header"><div class="section-title">Thông tin tài khoản</div></div>
                    <div class="section-content">
                        <div class="margin-bottom-5">
                            <span>Mã thành viên: </span>
                            <span><strong>2775</strong></span>
                        </div>
                        <div>
                            <span>Số dư: </span>
                            <span><strong>0<sup>đ</sup></strong></span>
                        </div>
                    </div>
                </section>
            </div>
        </div>



      </div>
      <div></div>
      <div></div>
   </div>
</div>


</div>
</div>
</div>





{{ footer }}