{{ header }}
<div class="append_html_filter append_pagination">
<div id="account-account" class="">
  <div class="sc-imcLir cExqpY">
    {{ column_left }}
  <div class="sc-bHKNvF folniP col-lg-10 col-md-9 col-sm-9 col-xs-12">
   <div class="sc-fweGeb kUzkwc">
      <div class="sc-ibushM dhggPq">
         <ul class="sc-heOwwK izlmnd"></ul>
      </div>
   </div>
   <div class="sc-jTWTst hYLsTD">
      <div class="sc-cHOiLE SLkmA">
         <div class="sc-hymtyp bjqBjR">
            <h3 type="primary" class="sc-dlfnbm lhekIy">Danh sách tin</h3>
         </div>
        
      </div>
   </div>
  
   <div class="sc-jhSEkC COfqa">
      <div class="sc-jLNwoM jvBuwT">


        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <section class="section box-shadow border-radius">
                  <div class="section-content">
                      <h5 class="heading" style="margin-top: 0;"><strong>Thanh toán tại văn phòng</strong></h5>
                      <p>Bạn vui lòng đến địa chỉ văn phòng công ty chothuenha.com.vn theo địa chỉ sau:</p>
                      <p>LE-4.07, Toà nhà Lexington Residence, Số 67 Mai Chí Thọ, Phường An Phú, Quận 2, Tp. Hồ Chí Minh.</p>
                      <br>
                      <h5 class="heading"><strong>Thu tiền tận nơi</strong></h5>
                      <p>Áp dụng cho khu vực Tp.Hồ Chí Minh và số tiền thanh toán lớn hơn 500.000đ</p>
                      <p>Liên hệ: 0983492410 để chúng tôi hỗ trợ bạn</p>
                  </div>
              </section>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <section class="section box-shadow border-radius js-payment-summary-sticky" data-margin-top="100" data-margin-bottom="50">
                  <div class="section-header"><div class="section-title">Thông tin tài khoản</div></div>
                  <div class="section-content">
                      <div class="margin-bottom-5">
                          <span>Mã thành viên: </span>
                          <span><strong>2775</strong></span>
                      </div>
                      <div>
                          <span>Số dư: </span>
                          <span><strong>0<sup>đ</sup></strong></span>
                      </div>
                  </div>
              </section>
          </div>
        </div>



      </div>
      <div></div>
      <div></div>
   </div>
</div>


</div>
</div>
</div>





{{ footer }}