<div class="md-dialog-container" id="dialog-form-register" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty form-register" ng-cloak name="form_register" enctype="multipart/form-data">
            <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <h2 style="color: #fff">Tạo tài khoản</h2>
              <span flex></span>
              <md-button class="md-icon-button hidden" id="back_from_register" ng-click="backFromRegister($event)">
                <md-icon md-svg-src="image/data/left-arrow-2.svg" aria-label="Close dialog" ></md-icon>
              </md-button>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancelDialog($event, 'dialog-form-register')">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content custom_width">
              
            <div class="modal-body">
                <div id="body_register">
                  <label for="input_telephone">Họ tên của bạn</label>
                  <div class="form-group">
                      <input type="text" class="form-control" id="res_input_full_name" name="full_name" autocomplete="off" placeholder="Họ tên của bạn">
                      <i class="input-icon field-icon fa"><img src="image/data/user.png" width="20px;"></i>
                      <span class="invalid-feedback error error-full_name"></span>
                  </div>
              
                  <label for="input_telephone">Số điện thoại của bạn</label>
                  <div class="form-group">
                      <input type="text" class="form-control" id="res_input_telephone" name="telephone" autocomplete="off" onkeyup="onChangeTelephone(this.value)" placeholder="Số điện thoại của bạn">
                      <i class="input-icon field-icon fa"><img src="image/data/phone.svg"></i>
                      <span class="invalid-feedback error error-telephone"></span>
                  </div>
                      
                   
                    <label for="input_telephone">Mật khẩu</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="res_input_password" name="password" autocomplete="off" placeholder="Mật khẩu">
                        <i class="input-icon field-icon fa"><img src="image/data/ico_pass_login_form.svg"></i>
                    </div>

                    <label for="input_telephone">Nhập lại mật khẩu</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="res_input_confirm" name="confirm" autocomplete="off" placeholder="Nhập lại mật khẩu">
                        <i class="input-icon field-icon fa"><img src="image/data/ico_pass_login_form.svg"></i>
                    </div>
                </div>

                    <div id="res_otp" class="hidden">
                      <label for="input_telephone">Mã xác nhận đã được gửi đến <span><@ input_telephone @></span>.Vui lòng nhập mã vào bên dưới để tiếp tục </br> Hoặc bấm vào đây để đổi số điện thoại khác.</label>
                      <div class="form-group">
                          <input type="text" class="form-control" autocomplete="off" placeholder="Mã xác thực" type="text" name="otp" id="res_input_otp" inputmode="numeric" pattern="[0-9]*">
                          <i class="input-icon field-icon fa"><img src="image/data/ico_pass_login_form.svg"></i>
                      </div>
                    </div>
                    <input type="hidden" name="redirect" id="register_input_redirect" value="">
                    <div class="form-group">
                        <button class="md-raised md-accent mt-4 w-100 md-button md-ink-ripple" type="button" id="btn_register" ng-click="register($event, 'validate')">Đăng ký</button>
                        <button class="md-raised md-accent mt-4 w-100 md-button md-ink-ripple hidden" type="button" id="confirm_otp" ng-click="register($event,'confirm')">Xác thực tài khoản</button>
                    </div>
         
                    <div class="c-grey f14 text-center">
                    Bạn đã có tài khoản?
                    <a href="javascript:;" ng-click="showFormLogin($event)">Đăng nhập</a>
                    </div>
               
            </div>
          </div>
        </md-dialog-content>
        </form>
    </md-dialog>
</div>