<div class="banner-right">
	<div id="ban_wide_right" class="ban_wide_scroll">
        <div class="loveMoney102" positioncode="BANNER_POSITION_WIDE_RIGHT" >
        	<div class="adshared" rt="">
        		<div class="adshareditem ilovemoney" time="15"  src="image/catalog/banner/20210407144515-06d3.jpg" altsrc="" link="https://batdongsan.com.vn/Landingpage/chuong-trinh-uu-dai-tang-qua-thang-4/" bid="11957" tip="" tp="7" w="160" h="600" isbg="false" clr="false" k="">
        			<a href="/click.aspx?bannerid=11957" target="_blank">
        				<img src="image/catalog/banner/20210407144515-06d3.jpg" class="banner-img"></a>
        			</div>
        		</div>
        	</div>
    </div>
</div>